<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <title>Login de Autenticacion</title>
  <style>
    /* Estilos generales */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-image: url(img/difuminado.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    h1 {
      text-align: center;
    }

    /* Estilos del formulario */
    form {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f2f2f2;
      border-radius: 5px;
      background-color: #D5F5E3;
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 20px;
      box-sizing: border-box;
    }

    input[type="email"]:focus,
    input[type="password"]:focus {
      outline: none;
      border-color: #4267B2;
      box-shadow: 0 0 5px rgba(66, 103, 178, 0.5);
    }

    button[type="submit"] {
      background-color: #4267B2;
      color: #fff;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 20px;
    }

    button[type="submit"]:hover {
      background-color: #3b5998;
    }

    .fb-button-container,
    .microsoft-button-container {
      text-align: center;
    }

    .fb-button {
      background-color: #ffffff;
      color: #000;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 20px;
    }

    .fb-button:hover {
      background-color: #3b5998;
      color: #fff;
    }

    .microsoft-button.white {
      background-color: #fff;
      color: #000;
    }

    .microsoft-button.white:hover {
      background-color: #F0F3F4;
    }
  </style>
</head>

<body>
  <h1>Bienvenido a la página de inicio</h1>
  <form action="/auth/callback" method="POST">
    <label for="email" style="color: #4267B2;">Correo Electrónico:</label>
    <input type="email" id="email" name="email" required style="border-color: #4267B2;">
    <br>
    <label for="password" style="color: #4267B2;">Contraseña:</label>
    <input type="password" id=" password" name="password" required style="border-color: #4267B2;">
    <br>
    <button type="submit">Iniciar Sesión</button>
  </form>
  <div class="fb-button-container">
    <form action="/auth/facebook" method="GET">
      <button class="fb-button" type="submit">
        <img src="img/facebook.png">
        Iniciar sesión con Facebook
      </button>
    </form>
  </div>
  <div class="microsoft-button-container">
    <form action="/auth/microsoft" method="GET">
      <button class="microsoft-button white" type="submit">
        <img src="img/microsoft.png">
        Iniciar sesión con Microsoft
      </button>
    </form>
  </div>
</body>

</html>