<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil</title>
  <style>
    button {
      background-color: #4267B2;
      color: #fff;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 20px;
      text-decoration: none;
      display: inline-block;
    }

    button:hover {
      background-color: #3b5998;
    }
  </style>
</head>
<body>
  <center>
    <h1>¡Hola, <%= user.displayName || user.name %>!</h1>
    <% if (user.emails && user.emails.length > 0) { %>
      <p>Tu correo electrónico (<%= user.emails[0].value %>) ha sido registrado.</p>
    <% } %>
    <button onclick="window.location.href='/logout'">Cerrar sesión</button>
  </center>
</body>
</html>
